<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="POM Suite">
    <test verbose="2" preserve-order="true" name="/Users/apple/PathikAutomation/src/test/java/tests/LoginTest.java"><classes>

        <class name="tests.CreateMediaAgencyTest"> </class>
    </classes>
    </test>
</suite>